/**
 * Basic typography style for copy text
 */
 body {
  font: normal 300 100% / 1.4 $text-font-stack;
}

h1 {
  font-size: $max-font-size;
}

h2 {
  font-size: calc($max-font-size - $font-size-diff);
}

h3 {
  font-size: calc($max-font-size - (2 * $font-size-diff));
}

label {
  font-size: calc(1rem + 2px);
  font-weight: 500;
}
