@font-face {
  font-family: Raleway;
  src: url("./../../fonts/Raleway/Raleway-VariableFont_wght.ttf");
  font-weight: normal;
}

html {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1rem;
}
