.stock-item-list {
  @extend %grid-shared;
  border-radius: 10px;
  grid-template-columns: auto;
  padding: $default-padding;

  >a {
    padding-bottom: 5px;
    text-decoration: none;
  }

  >a,
  >div {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;

    div:last-child {
      justify-self: center;
    }
  }
}