// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// The color for error indication.
/// @type Color
$error-color: rgb(240,10,10);

/// The default text color.
/// @type Color
$text-color: rgb(10, 10, 10);

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: './../../assets/' !default;

/// Regular font family
/// @type List
$text-font-stack: 'Raleway', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Default border radius
/// @type Length
$border-radius: 10px;

/// Default padding
/// @type Length
$padding: 10px;

/// The maximal font size, e.g. h1
/// @type
$max-font-size: 1.4rem;

/// The difference between two font sizes, e.g. h1 and h2
/// @type
$font-size-diff: 0.1rem;

/// The default padding.
/// @type {Length}
$default-padding: 25px;

/// The default border width of an input element.
/// @type {Length}
$input-border-default: 2px;
$input-border-top-width: $input-border-default;
$input-border-right-width: $input-border-default;
$input-border-bottom-width: $input-border-default;
$input-border-left-width: $input-border-default;
$input-border-width: $input-border-top-width $input-border-right-width $input-border-bottom-width $input-border-left-width;

/// The default padding of an input element.
/// @type {Length}
$input-padding-default: 10px;
$input-padding-top: $input-padding-default;
$input-padding-right: $input-padding-default;
$input-padding-bottom: $input-padding-default;
$input-padding-left: $input-padding-default;
$input-padding: $input-padding-top $input-padding-right $input-padding-bottom $input-padding-left;

/// The default margin of an input element.
/// @type {Length}
$input-margin-default: 0;
$input-margin-top: $input-margin-default;
$input-margin-right: $input-margin-default;
$input-margin-bottom: $input-margin-default;
$input-margin-left: $input-margin-default;
$input-margin: $input-margin-top $input-margin-right $input-margin-bottom $input-margin-left;

/// The pixel sizes for supported media queries
/// @type {List}
$breakpoints: 600px, 905px, 1240px, 1440px;

/// The name entry of a responsive-* map
/// @type {String}
$property-name: 'property';

/// The values entry of a responsive-* map
/// @type {String}
$property-values: 'values';

/// The map for the gap property used in media queries
/// @type {Map}
$responsive-gap: (
  $property-name: 'gap',
  $property-values: (8px, 12px, 12px, 16px, 16px)
);

/// The map for the gap property for large grids used in media queries
/// @type {Map}
$responsive-gap-large: (
  $property-name: 'gap',
  $property-values: (24px, 24px, 32px, 32px, 32px)
);

/// The map for the padding property used in media queries
/// @type {Map}
$responsive-padding: (
  property: 'padding',
  values: (16px, 32px, 32px, 200px, 200px)
);
