// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

body {
  color: $text-color;
}

form {
  background: $blue-gradient-light;

  &.stock-item-create {
    background: $orange-gradient;
  }
}

main::before {
  background-image: image('background.png');
  opacity: 0.7;
}

main::after {
  background: $blue-gradient-dark;
}
