// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

body {
  color: $text-color;
}

form {
  background: $blue-gradient-light;
}

main::before {
  background-image: image('background.png');
  background-image: image('background.png'), $blue-gradient-dark;
  opacity: 0.7;
}
