// -----------------------------------------------------------------------------
// This file contains all styles related to the forms of the site/application.
// -----------------------------------------------------------------------------

form {
  @extend %grid-shared-large;
  border-radius: 10px;
  grid-template-columns: auto;
  padding: $default-padding;
}

.form-element {
  @extend %grid-shared;
  grid-template-columns: auto;
}

input {
  border-radius: $border-radius;
  border-width: $input-border-width;
  margin: $input-margin;
  padding: $input-padding;
}
