%grid-shared {
  display: grid;

  @include responsive($responsive-gap);
}

%grid-shared-large {
  display: grid;

  @include responsive($responsive-gap-large);
}

.grid-large {
  @extend %grid-shared-large;
  grid-template-columns: auto;
  justify-items: center;
}

@include element-group(2);
