// -----------------------------------------------------------------------------
// This file contains all styles related to the main of the site/application.
// -----------------------------------------------------------------------------

main {
  @extend %grid-shared;
  overflow: hidden;
  grid-template-columns: auto;
  justify-content: center;
  position: relative;
  margin: 0;

  @include responsive(
    $responsive-padding
  )
}

main::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background-position: center;
  background-repeat: repeat-y;
  transform: rotate(-30deg) translateX(50px);
}

