name: warehouse-api
on:
  push:
    paths:
      - Warehouse/**
  workflow_dispatch:
permissions:
  contents: read
  pages: write
  id-token: write
  packages: read
concurrency:
  group: "pages"
  cancel-in-progress: false
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      working-directory: Warehouse
    steps:
      - uses: actions/checkout@v3
      - name: add package source
        run: |
          dotnet new nugetconfig
          dotnet nuget add source https://nuget.pkg.github.com/MichaelDiers/index.json --name github --username ${{ github.actor }} --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text 
        working-directory: ${{ env.working-directory }}
      - run: 'dotnet build -c Release'
        working-directory: ${{ env.working-directory }}
      - run: 'dotnet test --filter  "TestType=UnitTest" -c Release --no-build --no-restore'
        working-directory: ${{ env.working-directory }}
  doc:
    needs: test
    runs-on: ubuntu-latest
    env:
      working-directory: Warehouse
      ALTCOVER_XML: ../../doc/coverage/altcover.xml
      REPORT_XML: doc/coverage/altcover.xml
      REPORT_TARGET: doc/coverage
    steps:
      - uses: actions/checkout@v3
      - name: add package source
        run: |
          dotnet new nugetconfig
          dotnet nuget add source https://nuget.pkg.github.com/MichaelDiers/index.json --name github --username ${{ github.actor }} --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text 
        working-directory: ${{ env.working-directory }}
      - run: 'dotnet build -c Release'
        working-directory: ${{ env.working-directory }}
      - run: 'dotnet test /p:AltCover=true --no-build --no-restore /p:AltCoverReport="${{ env.ALTCOVER_XML }}"'
        working-directory: ${{ env.working-directory }}
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.x
          dotnet-quality: 'ga'
      - name: ReportGenerator
        uses: danielpalme/ReportGenerator-GitHub-Action@5.1.26
        with:
          reports: ${{ env.REPORT_XML }}
          targetdir: ${{ env.REPORT_TARGET }}
          reporttypes: Html_Dark
          assemblyfilters: +Warehouse.Api
          classfilters: -Microsoft.*;-System.*;-*Program
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: ${{ env.REPORT_TARGET }}
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
